.trailer{
    width:99.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.frame{
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    box-sizing: border-box;
}