.error{
    width: 100vw;
    height: 100vh;
    background-image: url('https://internera.com/Multimedia/Images/blog/404/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.error button{
    height: 80px;
    width: 200px;
    border: none;
    color: #cccccc;
    background-color: cornflowerblue;
    border-radius: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 30px;
}
.error button:hover{
    height: 100px;
    width: 230px;
    font-size: 40px;
}